<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Music Festival Manager</title>
</head>
<body>

    <header>
        <h1>Music Festival Database</h1>
        <nav>
            <a href="/">Home</a> | 
            <a href="/bands">Bands</a> | 
            <a href="/venues">Venues</a> | 
            <a href="/performances">Performances</a> | 
            <a href="/managers">Managers</a> | 
            <a href="/sponsors">Sponsors</a>
        </nav>
    </header>

    <main>
        {{{body}}}
    </main>

</body>
</html>
